<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    
    
</head>
<body>
    <header>
        <%- include('header', { pageTitle: '404' }) %>
     </header>
    <h1>Oops!</h1>
    <p>We can't find the droids you're looking for.</p>
    <p>Error code: 404</p>
    <a href="/">Go Home out of it....</a> or <a href="/products">View Products</a>

    
  
</body>
</html>